---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhyWebbs from '../components/WhyWebbs.astro';
import Facilities from '../components/Facilities.astro';
import Training from '../components/Training.astro';
import Membership from '../components/Membership.astro';
import Testimonials from '../components/Testimonials.astro';
import Visit from '../components/Visit.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <span id="top"></span>
  <Nav />
  <main>
    <Hero />
    <WhyWebbs />
    <Facilities />
    <Training />
    <Membership />
    <Testimonials />
    <Visit />
  </main>
  <Footer />
</Base>
